.input-wrapper{
    margin: 10px;
}
.input-field{
    height:30px;
    width:200px;
}
.button{
    height: 30px;
     width: 200px;
}
.container{
    text-align: center;
}
.btn-link{
    margin: 20px;
    color:rgb(0, 174, 255);
    border: none;
    cursor: pointer;
    background-color: transparent;
}