.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-list ul{
    display: flex;
}
.header-list ul li{
    padding: 5px;
    list-style: none;
}
.header-list ul li button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #493885;
    font-size: 14px;
}
.header-list ul li a{
    text-decoration: none;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width:100%;
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
}


.input-wrapper{
    margin: 10px;
}
.input-field{
    height:30px;
    width:200px;
}
.button{
    height: 30px;
     width: 200px;
}
.container{
    text-align: center;
}
.btn-link{
    margin: 20px;
    color:rgb(0, 174, 255);
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.input-error {
    position: absolute;
    color: red;
    font-size: 13px;
    padding: 8px;
}
table ,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table td button{
    margin: 5px;
}
table img{
    width: 80px;
}
